@import "variables";

img#logo{
    width: 40px;
    height: 40px;
}

a#header-logo {
    width: 40px;
    height: 40px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
}


header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // box-sizing: border-box;
    padding: 20px;
    // box-shadow: 0px 0px 1px 1px rgba($color: rgb(33, 41, 63), $alpha: .1);
    border-bottom: 1px solid $border-grey;
    top: 0;
    position: sticky;
    z-index: 10;
    background-color: white;
}

.header-link, .button {
    display: block;
    margin-left: 20px;
    align-items: center;
}

nav {
   display: flex;
   box-sizing: border-box; 
}

// nav.login-signup-modal {
//    display: flex;
//    box-sizing: border-box;
//    height: 40px;
// }

.greeting-cont {
    display: block;
    box-sizing: border-box;
    text-align: center;
}

h4#header-greeting {
    display: flex;
    margin-left: 20px;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
    font-weight: 400;
    width: 150px;
    justify-content: right;
  
}

.button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button#signup-button {
    background-color: $orange;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    padding: 8px 16px;
    height: 40px;
    
    &:hover{
        background: linear-gradient(227deg,#ff4582,#e12e0d);
        cursor: pointer;
        // transition: all .3s ease;
    }
}


#signin-button {
    width: 150px;
    justify-content: right;
    
    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

