@import "variables";

img#logo{
    width: 40px;
    height: 40px;
}

a#header-logo {
    width: 40px;
    height: 40px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
}


header {
    text-align: center;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // box-sizing: border-box;
    padding: 20px;
    // box-shadow: 0px 0px 1px 1px rgba($color: rgb(33, 41, 63), $alpha: .1);
    border-bottom: 1px solid $border-grey;
    top: 0;
    position: sticky;
    z-index: 10;
    background-color: white;
}

.search-container {
    // display: block;
    // width: 100%;
    margin-left: 32px;
}

.search-form {
    // display: block;
    // position: relative;
    // width: 100%;
    margin: 0;
}

.search-form > #search-input {
    color: $text-grey;
    width: 220px;
    height: 40px;
    background-color: #f5f8ff;
    border-radius: 5px;
    border: 1px solid #f5f8ff;
    padding: 0px 20px 0px 40px;
    &:focus {
        box-shadow: 0px 0px 3px 3px rgba(246, 73, 0, .3);
        border: 1px solid $orange;
        outline: none;
        // position: absolute;
        // width: 100%;
       
    }
}


a.header-link {
    display: block;
    margin-left: 20px;
    align-items: center;
    color: $text-grey;
    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

nav {
    margin-left: 40px;
    display: flex;
    box-sizing: border-box; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

// nav.login-signup-modal {
//    display: flex;
//    box-sizing: border-box;
//    height: 40px;
// }

.greeting-cont {
    display: block;
    box-sizing: border-box;
    text-align: center;
}

#link-header-greeting {
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    &:hover > #header-greeting {
        color: $dark-grey;
    }
    &:hover > #header-profile-img {
        // border: solid 1px $border-grey;
        opacity: .9;
    }
}

h4#header-greeting {
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
    font-weight: 400;
    width: 150px;
    text-align: right;
}

img#header-profile-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 5px;
    // border: solid 1px white;
}

.button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 24px;
    color: $text-grey;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

div#login-corner {
    display: flex;
}

#submit-new-fish {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#submit-product {
    color: $orange;
    margin-right: 20px;
    display: inline;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100%;
    &:hover {
        color: #e12e0d;
        cursor: pointer;
    }
}

#signin-button {
    width: 100px;
    justify-content: right;
    // border: 1px solid red;
    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

.button#signup-button {
    background-color: $orange;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    padding: 8px 16px;
    height: 40px;
    align-content: center;
    // border: 1px solid blue;
    &:hover{
        background: linear-gradient(227deg,#ff4582,#e12e0d);
        cursor: pointer;
        // transition: all .3s ease;
    }
}
