@import "variables";

#homepage {
    display: flex;
}

.product-index {
    display: block;
    width: 70%;
}

h1 {
    text-align: left;
    margin-left: 5%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 48px;
    color: $dark-grey;
}

.product-item {
    display: flex;
    align-items: left;
    width: 60%;
    margin: 48px 0px;
    margin-left: 5%;
    border-radius: 4px;
    opacity: 1;
    background-image: linear-gradient(12deg,#fff 50%,rgba(255,255,255,0));
    transition: all .3s ease-in;
    &:hover{
        cursor: pointer;
        // background: linear-gradient(12deg,#fff,#feede6);
        background-color: #feede6;
    }
    // border: 1px solid orange;
}

img {
    // float: left;
    height: 80px;
    width: 80px;
    border-radius: 4px;
    margin-right: 24px;
    // border: 1px solid red;
    
}


.product-text-container {
    display: block;
    text-align: left;
}

a {
    color: $dark-grey;
}

p.product-title {
    font-weight: 700;
    
    // margin-left: 16px;
    
    // border: 1px solid green;
    
}

p.product-subtitle {
    color: $text-grey;
    // margin-left: 16px;
    
   
    // border: 1px solid blue;
}

.comment-count {
    font-size: 12px;
    font-weight: 700;
    color: $text-grey;
    margin-top: 8px;
    // margin-left: 16px;
    // border: 1px solid hotpink;
}



aside {
    margin-top: 48px;
    margin-bottom: 48px;
    border-left: 1px solid #d9e1ec;
    padding-left: 3%;
    padding-right: 5%;
    width: 30%;
    
}

#latest-projects {
    margin-top: 0;
    color: #4b587c;
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 24px;
}

#portfolio-projects {
    border-bottom: 1px solid #d9e1ec;
    margin-left: 0;
    text-align: left;
}

.my-projects {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    h3 {
    font-weight: 600;
    }
    p {
    font-size: 12px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}

aside h2 {
    margin-top: 48px;
    font-weight: bold;
    color: $dark-grey;
}






