@import "variables";

.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 50;
  //  overflow-y: hidden;
  //  width: 100%;
  //  height: 100%;
 }

 .modal-content-signin {
   position: fixed;
   background-color: white;
   border: 20px solid rgb(243, 243, 243);
   border-radius: 4px;
   top: 15%;
   left: 27%;
   width: 46%;
   height: 55%;
 }

 .modal-close {
   position: fixed;
   top: 30px;
   left: 30px;
   background-color: white;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   font-size: 18px;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   &:hover {
     color: #f64900;
   }
 }

 #modal-logo {
   margin-top: 10px;
   height: 40px;
   width: 40px;
   align-self: center;
 }

 #modal-title {
     color: black;
     font-weight: bold;
     font-size: 20px;
 }

 span #modal-other-button {
    
    text-decoration: underline;
    &:hover {
        color: #f64900;
        cursor: pointer;
    };
 }

 .errors {
  color: red;
 }

 .signup-label {
   display: inline-block;
   width: 5em;
 }

 .input {
  margin-left: 2px;
  display: inline;
  margin-bottom: 8px;
 }

 .submit-modal {
    padding: 8px;
    margin-top: 15px;
    background-color: white;
    justify-content: center;
    align-content: center;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    height: 45px;
    width: 30%;
    &:hover {
      cursor: pointer;
      background-color: lightgray;
      transition: all .3s ease;
    }
 }
