@import "variables";

header.user-header {
  background-image: linear-gradient(180deg, #311B80 0%, #00337E 100%);
  height: 200px;
  position: relative;
  justify-content: left;
  z-index: 1;
}

div.user-header {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
}

img#user-show-profile-img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 5px solid white;
}

.user-header-content {
  color: white;
  display: block;
  padding: 24px 0px;
  p {
    font-size: 32px;
    font-weight: 600;
  }
}

button#user-edit {
  margin: 20px;
  padding: 6px;
  border: 1px solid white;
}

#user-category-nav {
  font-size: 16px;
  font-weight: 600;
  color: $dark-grey;
  border-bottom: 1px solid $border-grey;
  padding: 0 5%;
  h4 {
    padding: 16px 0px;
    border-bottom: 4px solid $orange;
    width: fit-content;
  }
}

#my-fish {
  padding: 0 5%;
}

#no-fish-yet {
  margin-top: 80px;
  margin-bottom: 80px;
  color: $dark-grey;
}